:root {
  --beans: #3c1b01;
  --beansfont: #582702;
  --whitecream: #ffffff;
  --blackcoffee: #000000;
  --greycup: #707070;
  --coffeecream: #944204;
  --beanshadow: #582702;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--beansfont);
}

.card {
    display: block;
    float: left;
    box-shadow: 0 10px 20px 0 rgba(102, 48, 1, 0.723);
    max-width: 250px;
    margin: 10px;
    text-align: center;
    font-family: arial;
    padding: 25px;
  }
  
  .price {
    color: var(--beans);
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color:var(--whitecream);
    background-color: var(--blackcoffee);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
    background-color: var(--coffeecream);
  }

  .card img{
    height: 200px;
  }